.hot-tx-box {
  overflow: hidden;
  display: flex;
  position: relative;

  &:hover .hot-tx-group {
    animation-play-state: paused;
  }
}

.hot-tx-group {
  display: flex;
  will-change: transform;
  animation: scrolling var(--scroll-duration) linear infinite;
  position: absolute;
  left: 0;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}