@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #141516;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

@layer base {
  @font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .my-container {
    width: 100%;
  }
  @media (min-width: 750px) {
    .my-container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1400px) {
    .my-container {
      max-width: 1400px;
    }
  }
 
}

/* toast background */
[role="status"] > [data-status="success"] {
  background-color: #E8FFF7;
  border-radius: 0.625rem;
}
[role="status"] > [data-status="error"] {
  background-color: #FFF6F8;
  border-radius: 0.625rem;
}
[role="status"] > [data-status="warning"] {
  background-color: #FFF6E3;
  border-radius: 0.625rem;
}
[role="status"] > [data-status="info"] {
  background-color: #E6F7FF;
  border-radius: 0.625rem;
}

/* 滚动条样式 */
.scrollbar::-webkit-scrollbar {
  width: 0.125rem;
  background: #D9D9D9;
  opacity: 0.2;
  display: none;
}
.scrollbar:hover::-webkit-scrollbar {
  display: block;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #EC3E6F;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #EC3E6F;
}
.scrollbar::-webkit-scrollbar-track {
  background: #D9D9D9;
  opacity: 0.2;
}
.scrollbar::-webkit-scrollbar-track:hover {
  background: #D9D9D9;
  opacity: 0.2;
}